@import url("../blocks/slider/slider.css");

.preview-team {
  background-image: url("../images/preview_team.png");
  background-size: cover;
  background-repeat: no-repeat;
}


@media (max-width: 767px) {
  .preview-team {
    align-items: start;
    padding-left: 16px;
  }
  .preview__title {
    text-align: start;
  }
}
@media (min-width: 768px) {
  .preview-team {
    align-items: start;
    padding-left: 16px;
  }
  .preview__title {
    text-align: start;
  }
}
@media (min-width: 992px) {
  .preview-team {
    align-items: center;
  }
  .preview__title {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .preview-team {
    align-items: center;
  }
  .preview__title {
    text-align: center;
  }
}