.preview-contacts {
  background-image: url("../images/preview_contacts.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.contacts-section {
  min-height: 355px;
  background-color: #fff;
  box-shadow: 0px 22px 60px rgba(23, 36, 67, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 30px;
  gap: 35px;
}
/* TODO: add/remove bright point (class title__theme-bright) with js. for screns max-width 768*/
.bright-point {
  color: #FF2448; 
}

.contacts-section-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.contacts-section-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
}
.contact-section__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 64px;
  height: 64px;
  background-color: #CCC;
  border-radius: 100%;
  color: #FFF;
  font-size: 25px;
}
.contact-section__subtitle {
  margin-bottom: 5px;
}
.contact-section__title {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.get-service {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.get-service__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.get-service__item {
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.get-service__item:hover {
  background: #FF2448;
  color: #fff;
}




/* MEDIA */
@media (max-width: 767px) {
  .preview-contacts {
    align-items: start;
    padding-left: 16px;
  }
  .preview__title {
    text-align: start;
  }
  .contacts-section {
    align-items: flex-start;
  }
  .contacts-section-row {
    flex-direction: column;
    align-items: start;
    gap: 25px 10px;
  }

  /* get service */
  .get-service {
    margin-bottom: 65px;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    padding: 40px 16px;
  }
  .get-service__title {
    /* max-width: 650px; */
    text-align: start;
  }
  .get-service__item {
    width: 290px;
    height: 60px;
    background: #fff;
    color: #111B34;
    border-radius: 8px;
    border: 1px #111B34 solid;
    line-height: 120%;
    font-size: 16px;
  }
  .get-service__row {
    align-items: start;
    justify-content: center;
    gap: 15px;
  }
}


@media (min-width: 768px) {
  .preview-contacts {
    align-items: start;
    padding-left: 16px;
  }
  .preview__title {
    text-align: start;
  }
  .contacts-section {
    align-items: flex-start;
  }
  .contacts-section-row {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px 10px;
  }
    /* get service */
    .get-service {
      margin-bottom: 65px;
      align-items: center;
      justify-content: center;
      gap: 30px;
      padding: 0 20px;
    }
    .get-service__title {
      max-width: 650px;
      text-align: center;
    }
    .get-service__item {
      width: 256px;
      height: 155px;
      background: #fff;
      box-shadow: 0px 22px 60px rgba(23, 36, 67, 0.1);
      color: #111B34;
      border-radius: 8px;
      border: none;
      line-height: 32px;
      font-size: 24px;
    }
    .get-service__row {
      align-items: start;
      justify-content: center;
      gap: 35px;
    }
}


@media (min-width: 992px) {
  .preview-contacts {
    align-items: center;
  }
  .preview__title {
    text-align: center;
  }
  .contacts-section {
    align-items: center;
  }
  .contacts-section-row {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
  }
    /* get service */
    .get-service {
      margin-bottom: 140px;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }
    .get-service__title {
      max-width: none;
      text-align: center;
    }
    .get-service__item {
      width: 256px;
      height: 155px;
      background: #fff;
      box-shadow: 0px 22px 60px rgba(23, 36, 67, 0.1);
      color: #111B34;
      border-radius: 8px;
      border: none;
      line-height: 32px;
      font-size: 24px;
    }
    .get-service__row {
      align-items: start;
      justify-content: center;
      gap: 35px;
    }
}


@media (min-width: 1200px) {
  .preview-contacts {
    align-items: center;
  }
  .preview__title {
    text-align: center;
  }

  /* contacts section */
  .contacts-section {
    min-width: 1030px;
    align-items: center;
  }
  .contacts-section-row {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
  }
    /* get service */
    .get-service {
      margin-bottom: 140px;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }
    .get-service__title {
      max-width: none;
      text-align: center;
    }

    .get-service__item {
      width: 256px;
      height: 155px;
      background: #fff;
      box-shadow: 0px 22px 60px rgba(23, 36, 67, 0.1);
      color: #111B34;
      border-radius: 8px;
      border: none;
      line-height: 32px;
      font-size: 24px;
    }
    .get-service__row {
      align-items: start;
      justify-content: center;
      gap: 35px;
    }
}