
.advantage__item .advantage__value,
.contacts__icon {
  color: #FF2448;
}


/* main section */
.main-preview {
  width: 100vw;
  height: 100vh;
  background-color: #111B34;
}
.main-preview__video {
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
.main-preview__logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}




/* SECTION SERVICES */
.services-wrap * {
  box-sizing: border-box;
}
.services-wrap {
  box-sizing: border-box;
  background: transparent url("../images/services_1.png") center no-repeat;
  width: 100vw;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;

}
.services__description {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.services__description .title {
  margin-bottom: 25px;
}
.services__text {
  font-size: 16px;
  color: #FFF;
}



/* ADVANTAGES */
.advantages-wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  background-color: #FFF;
  overflow: hidden;
}
.advantages-wrap * {
  box-sizing: border-box;
}


.advantages__title {
  margin-bottom: 25px;
}




.advantage__item .advantages__description {
  font-weight: 500;
  color: #7E7B8F;
}

/* CUSTOMERS */
.customers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.customers * {
  box-sizing: border-box;
}
.customer {
  width: 100px;
  margin-right: 40px;
  vertical-align: middle;
  opacity: .5;
}
.customer:last-child {
  margin: 0;
}
.customer:hover {
  opacity: 1;
}




/* *************************** */
/* ADAPTATION */
@media (max-width: 767px) {
  .main-preview__logo {
    left: 50%;
    transform: translateX(-50%);
    max-width: 256px;
  }
   /* services */
   .services-wrap {
    padding: 60px 0;
    gap: 30px;
  }
  .services__description{
    width: 288px;
    margin-bottom: 20px;

  }
  .services {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  /* advantaes */
  .advantages-wrap {
    gap: 40px;
    padding: 60px 15px;
  }
  .advantages {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
  }
  .advantages__description {
    width: 100%;
    /* padding: 60px 15px 35px; */
  }
  .advantages__title_dark {
    display: block;
  }
  .advantages__title_light{
    display: none;
  }
  .advantages__text {
    color: #111B34;
    font-size: 16px;
    font-weight: 400;
  }
  .advantages__items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 12px;
    /* padding-left: 16px; */
  }
  .advantage__value {
    font-size: 34px;
    font-weight: 700;
  }
  .advantage__item {
    background-color: #111B34;
    border-radius: 8px;
    min-width: 160px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
    /* customers */
    .customers {
      /* align-items: flex-start; */
    }
    .customers__row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      flex-wrap: nowrap;
    }
 }

@media (min-width: 768px) {
  .main-preview__logo {
    left: 50%;
    transform: translateX(-50%);
    max-width: 256px;
  }

  /* services */
  .services-wrap {
    padding: 60px 0;
    gap: 30px;
  }
  .services__description{
    width: 340px;
    height: 340px;
  }
  .services {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  /* advantages */
  .advantages-wrap {
    padding: 60px 25px;
  }
  .advantages {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

  }
  .advantages__description {
    width: 100%;
    /* padding: 60px 50px 35px; */
  }
  .advantages__title_dark {
    display: block;
  }
  .advantages__tite_light{
    display: none;
  }
  .advantages__text {
    color: #111B34;
    font-size: 16px;
    font-weight: 400;
  }
  .advantages__items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: space-between;
    gap: 12px;
  }
  .advantage__value {
    font-size: 34px;
    font-weight: 700;
  }
  .advantage__item {
    background-color: #111B34;
    border-radius: 8px;
    min-width: 160px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  /* customers */
  .customers__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
  }
 }

@media (min-width: 992px){
  .main-preview__logo {
    max-width: none;
    width: 100%;
  }
  /* services */
  .services-wrap {
    padding: 95px 0;
    gap: 75px;
  }

  .services {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .services__description{
    width: 45%;
    max-width: 360px;
    height: 360px;
  }
  .advantages-wrap {
    min-height: 100vh;
    padding: 60px 0;
    gap: 40px;
  }

  /* advantages */
  .advantages {
  background-color: #111B34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 65px 20px;
  gap: 40px;
  }
  .advantages__title_dark {
    display: none;
  }
  .advantages__description {
    width: 60%;
  }
  .advantages__items {
    max-width: 25%;
    min-width: 195px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
  .advantages__text {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
  }
  .advantage__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
  }
  .advantage__item .advantage__value {
    font-size: 49px;
    font-weight: 700;
  }
  .advantage__item .advantages__description {
    font-size: 20px;
  }
 }



@media (min-width: 1200px) {

  .compan__description {
    width: 52%;
  }
  .advantages-wrap {
    padding: 145px 0;
    min-height: 100vh;

  }
  .advantages__items {
    gap: 45px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
  .advantages {
    background-color: #111B34;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 65px 20px;
    gap: 40px;
  }
  .advantages__title_dark {
    display: none;
  }
  .advantages__text {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
  }
  .advantage__items {
    max-width: 25%;
    min-width: 250px;
  }
  .advantage__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 15px;
  }
  .advantage__item .advantage__value {
    font-size: 64px;
    font-weight: 700;
  }
  .advantages__description {
    width: 60%;
  }
  .advantage__item .advantages__description {
    font-size: 22px;
  }


  /* services */

  .services {
    /* display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center; */
  }
  .services__description{
    width: 30%;
    height: 360px;
    min-width: 360px;
  }


 }




