





.advantage__item .advantage__value,
.contacts__icon {
  color: #FF2448;
}


/* main section */
.main-preview {
  width: 100vw;
  height: 100vh;
  background-color: #111B34;
}
.main-preview__logo,
.main-preview__video {
  width: 100%;
  height: 100%;
}
  .main-preview__video {
    z-index: -1;
    object-fit: cover;
}
.main-preview__logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}




/* SECTION SERVICES */
.services-wrap * {
  box-sizing: border-box;
}
.services-wrap {
  box-sizing: border-box;
  background: transparent url("../images/services_1.png") center no-repeat;
  width: 100vw;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;

}
.services {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

}
.services__description {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.services__description .title {
  margin-bottom: 25px;
}
.services__text {
  font-size: 16px;
  color: #FFF;
}



/* ADVANTAGES */
.advantages-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  min-height: 100vh;
  background-color: #FFF;
}
.advantages-wrap * {
  box-sizing: border-box;
}
.advantages {
  background-color: #111B34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  border-radius: 8px;
  padding: 65px 20px;
  gap: 40px;
}
.advantages__description {
  width: 60%;
}
.advantages__title {
  margin-bottom: 25px;
}
.advantages__text {
  color: #FFF;
  font-size: 16px;
}
.advantages__items {
  width: 25%;
  gap: 40px;
}
.advantages__items,
.advantage__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.advantage__item .advantage__value {
  font-size: 60px;
  font-weight: 700;
}
.advantage__item .advantages__description {
  font-weight: 500;
  color: #7E7B8F;
}

/* CUSTOMERS */
.customers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.customers * {
  box-sizing: border-box;
}
.customer {
  width: 100px;
  margin-right: 40px;
  vertical-align: middle;
  opacity: .5;
}
.customer:last-child {
  margin: 0;
}
.customer:hover {
  opacity: 1;
}




/* *************************** */
/* ADAPTATION */
@media (min-width: 576px) {
  
 }

@media (min-width: 768px) {
  
 }

@media (min-width: 992px) {

  .services-wrap {
    padding: 95px 0;
    gap: 75px;
  }

  .services {
    max-width: 1080px;
    gap: 20px;
  }
  .services__description,
  .service {
    width: 340px;
    height: 340px;

  }

  .service {
    padding: 20px;
    padding-right: 37px;
  }
  .advantages-wrap {
    padding: 60px 0;
    gap: 40px;
  }
  
  .advantages__items {
    gap: 40px;
  }
  .advantage__item .advantage__value {
    font-size: 49px;
  }
  .advantage__item .advantages__description {
    font-size: 20px;
  }
 }



@media (min-width: 1200px) {

  .compan__description {
    width: 52%;
  }
  .advantages-wrap {
    padding: 145px 0;
  }
  .advantage__item {
    margin-bottom: 56px;
  }
  .advantage__item .advantage__value {
    font-size: 64px;
  }
  .advantage__item .advantages__description {
    font-size: 22px;
  }
 }




