
.title_size-xl {
  font-weight: 700;
}

@media (max-width: 767px) {
  .title_size-xl {
    font-size: 34px;
  }
}

@media (min-width: 768px) {
  .title_size-xl {
    font-size: 34px;
  }
}

@media (min-width: 992px) {
  .title_size-xl {
    font-size: 60px;
  }
}

@media (min-width: 1200px) {
  .title_size-xl {
    font-size: 64px;
  }
}
