.header {
  display: flex;
  align-items: center;
  position: absolute;
  /* position: fixed; */
  gap: 50px;
  /* width: 80vw; */
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}


/* NAVIGATION */

.nav__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  list-style-type: none;
  padding-inline-start: 0;

}
.nav__item a:hover,
.nav__item.active a {
  color: #FF2448;
} 
.nav__item a {
  text-decoration: none;
  color: #FFF;
} 



/* header-contacts */
.header__contacts {
  /* flex: 1; */
}
.header__number {
  font-weight: 700;
  font-size: 16px;
  color: #FFF;
}



@media (max-width: 767px) {
  .header {
    width: 100vw;
    justify-content: space-around;
  }
  .header__nav {
    display: none;
  }
  .header__number {
  font-weight: 700;
  font-size: 12px;

  }
  .header__subtitle {
    display: none;
  }

}

@media (min-width: 768px) {
  .header {
    justify-content: space-evenly;
  }
  .header__nav {
    flex: none;
  }
}

@media (min-width: 992px) {
  .header {
    gap: 50px;
  }
  .header__nav {
    flex: 3;
  }
}

@media (min-width: 1200px) {
  .header {
    gap: 50px;
  }
  .header__nav {
    flex: 3;
  }
}
