
.service {
  box-shadow: 0px 22px 60px rgba(23, 36, 67, 0.1);
  border-radius: 8px;
  padding: 20px;
  /* width: 340px; */
  /* min-width: 360px; */
  /* height: 340px; */
}
.service,
.service *,
.btn-contact,
.customers img {
  transition: all .3s ease;
}
.service__header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 25px;
}

.service__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 65px;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  margin-right: 15px;
}
.service_theme-light {
  background-color: #FFF;
  color: #7E7B8F; 
}
.service_theme-light  .service__icon {
  background-color: #FF2448;
  color: #111B34;
}
.service__list {
  list-style-type: disc;
  margin-left: 30px;
  font-size: 16px;
  font-weight: 400;
}

.service_theme-light:hover {
  background-color: #111B34;

}
.service_theme-light:hover .service__title,
.service_theme-light:hover .service__list {
  color: #FFF;
}



@media (max-width: 767px){
  .service {
    width: 288px;
  }
  .service__header {
    margin-bottom: 15px;
  }
  .service__list {
    font-size: 14px;
  }
}
@media (min-width: 768px){
  .service {
    width: 340px;
    height: 340px;
    padding: 20px;
  }
}
@media (min-width: 992px){
  

  .service {
    padding: 38px;
    width: 45%;
    height: 360px;
    max-width: 360px;
  }
}
@media (min-width: 1200px){
  .service {
    padding: 38px;
    width: 30%;
    height: 360px;
    min-width: 360px;
  }

}