
.service {
  box-shadow: 0px 22px 60px rgba(23, 36, 67, 0.1);
  border-radius: 8px;
  width: 340px;
  height: 340px;
}
.service,
.service *,
.btn-contact,
.customers img {
  transition: all .3s ease;
}
.service__header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 25px;
}

.service__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 65px;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  margin-right: 15px;
}
.service_theme-light {
  background-color: #FFF;
  color: #7E7B8F; 
}
.service_theme-light  .service__icon {
  background-color: #FF2448;
  color: #111B34;
}
.service__list {
  list-style-type: disc;
  margin-left: 30px;
}

.service_theme-light:hover {
  background-color: #111B34;

}
.service_theme-light:hover .service__title,
.service_theme-light:hover .service__list {
  color: #FFF;
}
