.soar-section {
  position: relative;
  backface-visibility: hidden;
  width: 80vw;
  margin: 0 auto;
  /* overflow: hidden; */


}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .soar-section {
    margin-top: -110px;
    margin-bottom: 70px;
  }
}

@media (min-width: 1200px)  {
  .soar-section {
    /* max-width: 1440px; */
    margin-top: -150px;
    margin-bottom: 110px;
  }
}